
body{
    padding: 0;
    margin: 0;
    font-size: 150%;
}
.container{
    background: #bdc3c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    background-color: transparent;
    height: 30vh;
    width: 45vh;
    text-align: center;
    
}
#addtask{
    border: 2px solid white;
    border-radius: 13px;
    height: 4vh;
    width: 30vh;
}
#btn{
 
    border-radius: 13px;
    height: 4.5vh;
    background-color: rgb(118, 183, 183);
    
}

#store{
    font-size:30px;
    text-align: left;
    padding-left: 0%;
    list-style: none;
  
}
span{
    font-size: 47px;
    font-weight: 700;
    margin-left: 150px;
    color: black;
}
span:hover{
  color: wheat;
}
li:hover{
    color: wheat;
}